layout {
        default_tab_template {
        // the default zellij tab-bar and status bar plugins
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        // pane size=2 borderless=true {
        //     plugin location="zellij:status-bar"
        // }
    }
    cwd "/home/bl"
    tab cwd="df" name="df" split_direction="vertical" {
        pane name="df-editor" command="nvim"{
            args "README.md"
        }
    }
    tab cwd="prjs/blurkit" name="blurkit" split_direction="vertical" {
        pane name="blurkit-editor" command="nvim" {
            args "package.json"
        }
        pane name="shell" size="30%"
    }
    tab name="shell" split_direction="vertical" {
        pane name="shell"
    }
}
