/*
/*/

!/zsh
!/lf
!/.Xmodmap
!/.gitignore
!/leftwm/
leftwm/themes/current
/*leftwm/themes.toml*/
!/alacritty
!/pam_environment
!/.bashrc
!/picom.conf
!/config
!/.xinitrc
!/eww
!/rofi
!/pic
!/zathura
!/starship.toml
!/carapace
!/sway
!/waybar
#!/fcitx5
!/kitty
!/elvish
!/zellij
!/bottom
