/*
/*/

!/zsh
!/lf
!/.Xmodmap
!/.gitignore
!/leftwm/
leftwm/themes/current
/*leftwm/themes.toml*/
!/alacritty
!/pam_environment
!/.bashrc
!/picom.conf
!/config
!/.xinitrc
!/eww
!/rofi
!/pic
!/zathura
!/starship.toml
!/carapace
carapace/schema.json
!/sway
!/waybar
!/fcitx5
!/kitty
!/elvish
!/zellij
zellij/layout/mb.kdl
!/bottom
!/hypr
!/lazygit
lazygit/state.yml
!/nix
