layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    children
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
    // pane size=2 borderless=true {
    //     plugin location="zellij:status-bar"
    // }
  }
  cwd "~"
    tab cwd="df" name="df" split_direction="vertical" {
      // floating_panes {
      //   pane cwd="~/df" {
      //     //    width "80%"
      //     //   height "80%"
      //   }       
      // }
      pane name="df-editor"
    }
  tab cwd="prj/luv-sic" name="luv-sic" split_direction="vertical" {
    // floating_panes {
    //   pane cwd="~/prjs/blurkit"
    // }
    pane name="luv-sic"
  }
  tab cwd=".config/nvim" name="nvim" split_direction="vertical" {
    // floating_panes {
    //   pane cwd="~/.config/nvim"
    // }
    pane name="nvim"
  }
}
