* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar1 {
  background-color: #123;
  color: #fff;
	opacity: 0.9;
  font-size: 10px;
  //border-radius: 16px;
}


// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
	color: #ffd5cd;
  color: #a8d8b9;
}

.metric scale trough highlight {
  all: unset;
  background-color: #135D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  //background-color: #4e4e4e;
  background-color: #D35D6E;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  color: #a8d8b9;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: small;
  //color: #D35D6E;
}
.workspaces button:hover {
  color: #D35D6E;
}
.ws-button-mine {
  color: #4e4e4e;
  background-color: #aa66a6;
}
.ws-button-visible {
  //color: #D35D6E;
  color: #a8d8b9;
  background-color: #4e4e4e;
}
.ws-button-busy {
	color: #D35D6E;
  //color: #6699a1;
}
.ws-button {
	color: #D35D6E;
  //color: #b0b4bc;
}
.label{
  color: #000000;
}
